@font-face {
    font-family: matrix_f;
    src: url(matrix.ttf);
}

@font-face {
    font-family: matrix_l;
    src: url(matrix_letra.ttf);
}

html, body { 
    height: 100%; 
    margin: 0; 
    overflow: hidden;
    cursor: none;
}
body { 
    display: flex; 
    align-items: center; 
    justify-content: center;
    background: #000;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
main {
    display: flex;
}
p {
    line-height: 1;
}
span {
    display: block;
    width: 2vmax; 
    height: 2vmax; 
    font-size: 2vmax; 
    color: #d60000;
    text-align: center;
    font-family: "matrix_f";
    font-size: 1.6em;
}

/* EFFECT GLITCH */

.system {
    z-index: 9999;
    position: absolute;
    left: 0;
    top: 42%;
    color: rgb(0 255 69);
    width: 100%;
    background: rgb(0 0 0 / 95%);
    text-align: center;
    font-family: "matrix_l";
    font-size: 4.5em;
    padding: 80px 0;
    box-shadow: 0 0 0.4em #717171;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 8px;
    font-weight: 400;
    /*Create overlap*/
    margin: 0;
    line-height: 0;
    /*Animation*/
}

/* ----------------------------- */
/* Custom bar gitHub */
/* ----------------------------- */

.githubref {
  display: flex;
  position: absolute;
  left:0;
  top: 0;
  width: auto;
  height: auto;
  background: #ffffff;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  border: 3px solid #000;
  border-radius: 10px;
  padding: 0 20px 5px;
}

.githubref a {
  font-size: 45px;
  color: #200054;
}

.githubref a:hover {
  color: #6200ff;
}

.githubref p {
  font-family: monospace;
  font-size: 1em;
  font-weight: bold;
}
